<div class="row no-gutters">
  <div class="col-3">
    <button class="btn btn-outline-danger" [class.rounded]="(parentComponent === 'cart')" (click)="removeFromCart()">
      <span class="font-weight-bold" *ngIf="parentComponent === 'cart'; else svgMinus"> - </span>
      <ng-template #svgMinus>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-dash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
        </svg>
      </ng-template>
    </button>
  </div>
  <div class="col align-self-center text-center">
    <span *ngIf="parentComponent === 'cart'; else desc">{{ quantity }}</span>
    <ng-template #desc>
      <span class="align-middle">{{ quantity }} {{ quantity === 1 ? 'item' : 'items' }} in Cart </span>
    </ng-template>
  </div>
  <div class="col-3">
    <button class="btn btn-outline-success" [class.rounded]="(parentComponent === 'cart')" (click)="addToCart()">
      <span class="font-weight-bold" *ngIf="parentComponent === 'cart'; else svgPlus"> + </span>
      <ng-template #svgPlus>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
        </svg>
      </ng-template>
    </button>
  </div>
</div>